<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Import CSV</h5>
            <%= form_tag "/submit_csv", class: "form-signin", multipart: true do %>
              <div class="form-label-group">
                <%= file_field_tag :upload, required: true, id: "fileCSV" %>
              </div>
              <%= submit_tag "Import", class: "btn btn-lg btn-primary btn-block text-uppercase" %>
              <hr class="my-4">
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>